name: CI Build

on:
  repository_dispatch:
    types: [run-ci]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout pipeline repo
        uses: actions/checkout@v4

      - name: Checkout coderepo
        uses: actions/checkout@v4
        with:
          repository: sschlosser7/coderepo
          ref: develop                   
          path: coderepo                    
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}  

      - name: Run sample.py
        run: |
          cd coderepo
          python sample.py
